@layer default;

@layer default {
  :host {
    display: block;

    .display-frame {
      padding: var(--gcds-spacing-350) var(--gcds-spacing-250);
      border: var(--gcds-border-width-md) solid black;
    }

    .hidden {
      display: none;
    }

    [role="tablist"] {
      [role="tab"]::part(button) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0 var(--gcds-spacing-50);
      }

      [aria-selected="true"]::part(button) {
        background-color: var(--gcds-bg-primary);
        color: white;
      }
    }

    .code-frame {
      border: var(--gcds-border-width-md) solid black;
      width: 100%;

      .code-actions {
        border-top: var(--gcds-border-width-md) solid black;
        border-bottom: var(--gcds-border-width-md) solid black;
        padding: var(--gcds-spacing-100);
      }
    }

    #test-container {
      clip-path: inset(100%);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    table {
      border: var(--gcds-border-width-md) solid black;
      width: 100%;

      th {
        padding: var(--gcds-spacing-100) var(--gcds-spacing-50);
        border-bottom: var(--gcds-border-width-sm) solid black;
      }

      th, td {
        text-align: left;
      }

      &.attributes {
        th,td {
          width: 25%;
        }
      }
      
    }

    slot {
      display: initial;
    }
  }
}

